body {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-image: url("background.png");
}

#main-modal {
    border-radius: 25px;
    border-color: black;
    border-width: medium;
    background: #1D116090;
    width: 800px;
    color: white;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputs {
    width: 70%;
}

#lamelolabel {
    text-align: center;
    font-size: 30px;
    margin-bottom:0.25rem;
}

#check_boxes {
    display: flex;
    flex-direction: column;
}

#check_boxes{
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.sectionLabels {
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 0.30rem;
}

#nameDiv {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}


#rangeInputs {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 85%;
}

#rangeInputs input {
    width: 60%;
}

#rangeInputs div {
    display: flex;
    justify-content: space-between;
}

#rangeInputs div p{
    margin-bottom: 0;
    margin-top: 0;
}

.slider {
    width: 100%;
}

#review {
    width: 90%;
    height: 6rem;
    resize: none;
    margin-bottom: 2rem;
}

.rangeDive {
    margin: 1px;
}

.rangeDive label {
    width: 20%;
}

.rangeDive p {
    width: 5%;
}

button {
    width: 90%;
    height: 3rem;
    cursor: pointer;
    background: green;
    margin-bottom: 2rem;
    color: white;
}