body {
    margin: 0px;
}

/*Nav bar positioning*/
nav {
    display: flex;
    background: black;
    margin: 0;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 15px;
}


nav img {
    width: 130px;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#products li div:nth-child(1){
    display: flex;
    align-items: center;
    color: white;
    height: 100%;
    margin-right: 22px;
}

#products li div p:nth-child(2){
    margin-left: 3px;
    font-size: 4px;
    font-weight: bold;
}

#products li div:nth-child(1):hover{
    cursor: pointer;
}

#products li{
    position: relative;
}


#products li:nth-child(6) div {
    margin-right: 0px;
}

#other li button {
    height: 100%;
    border-style: none;
    background: transparent;
    width: 60px;
    outline: none;
    cursor: pointer;
}

#other li button img{
    width: 27px;
}

#other li:nth-child(3) {
    margin-right: 25px;
}

/*Drop down stylings*/
.modal {
    position: absolute;
    height: 300px;
    width: 800px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    display: none;
    top: 64px;
}

/*slight adjustment to all dropdown modals for alignment*/
#bikesDropDown {
    left: -100px;
}

#bikesDropDown:before {
    content: "";
    position: absolute;
    top: -24px;
    left: 105px;
    border: 11px solid;
    border-color: transparent transparent black transparent;
}


#treadDropDown {
    left: -174px;
}

#treadDropDown:before {
    content: "";
    position: absolute;
    top: -24px;
    left: 190px;
    border: 11px solid;
    border-color: transparent transparent black transparent;
}

#appDropDown {
    left: -257px;
}

#appDropDown:before {
    content: "";
    position: absolute;
    top: -24px;
    left: 263px;
    border: 11px solid;
    border-color: transparent transparent black transparent;
}

#classesDropDown {
    left: -320px;
}

#classesDropDown:before {
    content: "";
    position: absolute;
    top: -24px;
    left: 340px;
    border: 11px solid;
    border-color: transparent transparent black transparent;
}

#accessoriesDropDown {
    left: -418px;
}

#accessoriesDropDown:before {
    content: "";
    position: absolute;
    top: -24px;
    left: 455px;
    border: 11px solid;
    border-color: transparent transparent black transparent;
}

#apparaelDropDown {
    left: -552px;
}

#apparaelDropDown:before {
    content: "";
    position: absolute;
    top: -24px;
    left: 570px;
    border: 11px solid;
    border-color: transparent transparent black transparent;
}
