.full-card {
    display: flex;
    border-style: solid;
    width: 600px;
    margin: 2px 0px;
}

.profile-pic > img{
    width: 50px;
    border-radius: 50%;
    margin: 6px 6px 0px 10px;
}

.post-content {
    flex-grow: 1;
    margin: 0px 8px 0px 8px;
}

.poster-details {
    display: flex;
}

.poster-details > p {
    margin: 8px 5px 0px 0px;
}

.post-stats {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 8px;
}

.post-stats img {
    width: 25px;
}

.post-stats

.post-stats div > img {
    width: 25px;
}

.stat {
    display: flex;
}

.stat p {
    margin-left: 10px;
}

.news-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: scroll;
}

