html {
 height: 100%;
}
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 200px;
}

.resizingButton{
    border: solid black;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E6E6FA;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-top: 0;
    font-size: 35px;
}
